<div class="detail">
  <img src="<%= pokemon.get("image_url") %>" alt="<%= pokemon.get("name") %>" />
  <br>
  <label for="pokemonName">Name: <%= pokemon.get("name") %></label> <br>
  <label for="pokemonAttack">Attack: <%= pokemon.get("attack") %></label> <br>
  <label for="pokemonDefense">Defense: <%= pokemon.get("defense") %></label> <br>
  <label for="pokemonMoves">Moves: <%= pokemon.get("moves") %></label> <br>
  <label for="pokemonType">Poke Type: <%= pokemon.get("poke_type") %></label>
</div>
<p>Toys: </p>
<ul class="toys"></ul>
