
<div class="detail">
  <img src="<%= toy.escape("image_url") %>" alt="<%= toy.escape("name") %>" /> <br>
  <label for="toyName">Name: <%= toy.escape("name") %></label> <br>
  <label for="toyHappiness">Happiness: <%= toy.escape("happiness") %></label> <br>
  <label for="toyPrice">Price: <%= toy.escape("price") %></label>
  <br>
  <select>

  <% pokemon.forEach(function(pokemon) { %>

    <% if (pokemon.escape("id") === toy.escape("pokemon_id")) { %>
      <option data-pokemon-id="<%= pokemon.id %>" selected><%= pokemon.escape("name") %></option>
    <% } else { %>
      <option data-pokemon-id="<%= pokemon.id %>"><%= pokemon.escape("name") %></option>
    <% } %>
  <% })  %>
  </select>
</div>
