<li class='toy-list-item' data-toy-id="<%= toy.id %>"
  data-pokemon-id="<%= toy.get("pokemon_id")%>">
  Name: <%= toy.get("name") %><br>
  Happiness: <%= toy.get("happiness") %><br>
  Price: <%= toy.get("price") %>
</li>
